<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.component.css">
    <title>Document</title>
</head>
<body>
    <div class="component1">
        <div id="component2">
            <form [formGroup]="Forms">
                <div>
                    <div>
                        <input id="input1" placeholder="Writer name " type="text" formControlName="name">
                        
    
                    </div>
                    <div>
                        <input id="input1" placeholder="age" type="number" formControlName="age">
                    </div>
                    <div>
                        <input id="input1" placeholder="phone" type="number" formControlName="phone">
                    </div>
                    <div>
                        <select class="form-select" formControlName="nationality" [compareWith]="comparewith" id="select1">
                            <option *ngFor="let data of nationality" [ngValue]="data.id">{{data.country}}
                            </option>
                        
                        </select>
                    </div>
                    <div>
                        <select class="form-select" formControlName="gender" [compareWith]="comparewith2" id="select1">
                            <option *ngFor="let data of gender" [ngValue]="data.id">{{data.gender}}</option>
                        
                        
                        </select>
                    </div>
                    <div>
                        <button type="button" id="button1" class="btn btn-primary" (click)="Activate('togglar1')">Add writer</button>

                    </div>
                    <div>
                        <button type="button" id="button1" class="btn btn-success" (click)="Activate('togglar2')">Writers list</button>

                    </div>
                 
                </div>
                
            
            
            </form>
        </div>

        <div id="component3" [ngClass]="{'transition1': togglar == 'togglar2', 'transition2': togglar != 'togglar2'}">
            <div>
                <button id="button3" (click)="Activate('')">
                    <i class="bi bi-x-circle">

                    </i>
                </button>
            </div>
            <div id="component4">
                <div>
                    <div id="component5" *ngFor="let item of writer">
                        <p>
                            Name: {{item.name}}
                        </p>
                        <button id="button5" (click)="Activate('togglar3', item)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button id="button4" (click)="Activate('togglar4', item)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="component3" [ngClass]="{'transition1': togglar == 'togglar3', 'transition2': togglar != 'togglar3'}">
            
            <div>
                <button id="button3" (click)="Activate('togglar2')">
                    <i class="bi bi-x-circle">
                    </i>
                </button>
            </div>
            <form [formGroup]="Forms" id="component7">
                <div>
                    <p>
                        Writer ID:  {{selected?.id}}
                    </p>
                </div>
                <div>
                    <P>
                        Name: <input id="input2"  [placeholder]="selected?.name" [(ngModel)]="newName" formControlName="name">
                    </P>
                </div>
                <div>
                    <P>
                        Age: <input id="input2"  [placeholder]="selected?.age" [(ngModel)]="newAge" formControlName="age">
                    </P>
                </div>
                <div>
                    <P>
                        Phone: <input id="input2"  [placeholder]="selected?.phone" [(ngModel)]="newPhone" formControlName="phone">
                    </P>
                </div>
                <div style="align-items: center;  display: flex;">
       
                        <P>
                            Nationality: 
                        </P>

            
           
                        <select class="form-select"  id="select2" formControlName="nationality" [(ngModel)]="newNationality" >
                            <option *ngFor="let data of nationality" [ngValue]="data.id"   >{{data.country}}
                            </option>
                        
                        </select>
            
                    
                    
                </div>
                <div style="align-items: center;  display: flex;">
       
                        <p>
                            Gender: 
                        </p>
               
              
                        <select class="form-select"  id="select2" formControlName="gender" [(ngModel)]="newGender">
                            <option *ngFor="let data of gender" [ngValue]="data.id">{{data.gender}}
                            </option>
                        
                        </select>
                
                    
                    
                </div>
                <div>
                    <button type="button" class="btn btn-outline-success" (click)="Activate('togglar5' )">Salvar ✏💾</button>
                </div>
                
            
            
            </form>
           
            
        </div>

        <div id="component3" [ngClass]="{'transition1': togglar == 'togglar4', 'transition2': togglar != 'togglar4'}">
            <div>
                <button id="button3" (click)="Activate('togglar2')">
                    <i class="bi bi-x-circle">

                    </i>
                </button>
                <div id="component9">
                    <div class="alert alert-danger" id="alert1" role="alert">
                        The student will be permanently deleted from the list. Are you sure?
                      </div>
                    <div>
                        
                          <button type="button"  class="btn btn-outline-danger" (click)="Activate('togglar6')">Yes, i'm sure. Delete</button>
                    </div>
                  
                </div>
            </div>
   
                
        </div>

    </div>
    
</body>
</html>